body {
    margin: 0;
}

header {
    background-size: cover;
    /*filter: grayscale();*/
    background-image: url(../mundo-gelado/img/foto-banner.jpg);
    height: 550px;
}

nav {
    background-color: #9ABED3;
    margin: 0;
}

p {
    color: #9C9C9C;
}

.menu {
    padding: 30px 20px;    
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
}

.menu_item {
    color: #fff;
    margin: 0 20px;
}

.saber {
    border-radius: 4px;
    background-color: #979797;
    padding: 10px 10px;
    text-decoration: none;
    color: #fff;
}

.image1{
    filter: grayscale();
    background-size: cover;
    background: url(../mundo-gelado/img/siberia.jpg);
}

.image2{
    filter: grayscale();
    background-size: cover;
    background: url(../mundo-gelado/img/groenlandia.jpg);
}

.image3{
    filter: grayscale();
    background-size: cover;
    background: url(../mundo-gelado/img/antartida.jpg);
}
