body {
    margin: 0;
}

.banner {
    background-size: cover;
    filter: grayscale();
    background-image: url(../mundo-gelado/img/foto-banner.jpg);
    height: 550px;
}

.bg-nav {
    background-color: #9ABED3;
}

a:hover {
    font-weight: bold;
}

.menu_item {
    color: #fff;
    margin: 0 20px;
}

.saber {
    border-radius: 4px;
    background-color: #979797;
    padding: 10px 10px;
    text-decoration: none;
    color: #fff;
}

.images{
    /* background-size: cover; */
    background-repeat: no-repeat;
    /* height: 550rem; */
    filter: grayscale();
}
.image1{
    background: url(../mundo-gelado/img/siberia.jpg);
}

.image2{
    background: url(../mundo-gelado/img/groenlandia.jpg);
}

.image3{
    background: url(../mundo-gelado/img/antartida.jpg);
}
